*{
	padding:0;
	margin:0;
}
body{
	color: white;
	width: 100%;
	height: auto;
}
@media screen and (max-width: 768px) {
	.menu{
		display: none;
	}
	.menu-top h5{
		float: left;
		text-indent: 10px;
	}.bgtop{
		color: orange;
		background: #fff;
	}
}
.row{
	width: 100%;
	margin: 0;
	padding: 0;
}
.container-fluid{
	margin:0;
	padding:0;
}
.menu-top{
	background: black;
	width: 100%;
}
.menu-top h5{
	line-height: 40px;
	text-align: center;
	margin: 0;
}
.menu{
	text-align: center;
}
.menu-top ul{
	margin:0;
	padding: 0;
}
.menu li {
	list-style: none;
	display: inline-block;
}
.menu li:hover a{
	background: orange;
	color: black;
	transition: all 0.5s;
	font-weight: bold;

}
.menu li a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px;
}
.menu-top i{
	display: none;
	line-height: 40px;
}
/*---------------------------------------*/
.logo{
	width: 100%;
	min-height: 500px;
	background-image:linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url('../images/bg-masthead.jpg');
	color: white;
	background-repeat: repeat-x;
}

.logo h1{
	padding-top: 60px;
	font-size: 30px;
	text-align: center;
}
.logo p{
	text-align: center;
	padding-bottom: 50px;
	padding-top: 40px;
	color: yellow;
}
.logo a{
	background: #F05F40;
	border:1px solid #F05F40;
	font-weight: bold;
}
/*---------------------------------------*/
.bg-content{
	background-color:#F05F40;
	min-height: 400px;
}
.bg-content h3{
	text-align: center;
	padding-top: 100px;
}
.bg-content hr{
	width: 100%;
	border:2px solid white;
	text-align: center;
}
.bg-content p {
	text-align: center;
	padding-bottom: 50px;
}
.bg-content a{
	text-align: center;
	font-weight: bold;
}
/*---------------------------------------*/
.bg-content2{
	min-height: 500px;
	background: white;
	color: black;
}

.bg-content2 h3{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.bg-content2 hr{
	width: 100%;
	border:2px solid black;
	text-align: center;
}
.bg-content2 ul{
	margin:0;
	padding-bottom: 20px;
}
.bg-content2 ul li {
	list-style: none;
	float: left;
	padding: 0;
}	
.bg-content2 ul li p{
	text-align: center;
	margin:0;
}
.bg-content2 ul li h5{
	text-align: center;
	font-size: 30px;
}
.bg-content2 ul li p i{
	font-size: 50px;
	color: orange;
}
.clear{
	clear:both;
}
/*---------------------------------------*/
.image ul li{
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
.image ul li img{
	width: 100%;
	height: 100%;
}
/*---------------------------------------*/
.download {
	min-height: 300px;
	background:#212529;
}
.download h2{
	text-align: center;
	padding-top: 100px;
}

.download a{
	margin-top: 30px;
	font-weight: bold;
}
.download p{
	text-align: center;
}
/*---------------------------------------*/
.touch{
	width: 100%;
	min-height: 500px;
	color: black;
}
.touch h3{
	text-align: center;
	padding-top: 100px;
}
.touch hr{
	width: 100%;
	border:2px solid #F05F40;
	text-align: center;
}
.touch p {
	text-align: center;
	padding-top: 30px;
}
.touch ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	float: left;
}
.touch ul li i {
	font-size: 50px;
}
.touch ul li span{
	text-align: center;
}