body{
width: 1000px;
height: auto;
margin: 0 auto;
text-align: center;
background-image: url('../images/bg.jpg');
font-family: 'Tahoma';
}
#top{
width: auto;
height: 80px;
}
#top #logo{
height: 80px;
width: 200px;
float: left;
}
#top #menu-top{
height: 80px;
width: 800px;
float: left;
}
#mid #mid-right{
width: 200px;
height: auto;
float: left;
}
#mid #mid-left{
width: 800px;
height: auto;
float: left;
}
#footer{
height: 60px;
width: auto;
clear: left;
color: white;
}
/**/
#top #menu-top ul{
list-style: none;
margin:0px;
padding: 0px;
}
#top #menu-top ul li{
float: right;
display: block;
text-align: right;
margin-right: 20px;
}
#top #menu-top ul li a{
text-decoration: none;
color: black;
line-height: 80px;
}
#top #menu-top ul li .new{
border-radius: 7px;
background: #DDDDDD;
padding: 5px;
}
#top #menu-top ul li .new:hover{
color: blue;
background: red;
}
#mid #mid-right ul{
list-style: none;
margin:0px;
padding: 0px;
text-align: left;
margin-left: 35px;
}
#mid #mid-right ul li{
padding: 5px;
}
#mid #mid-right ul li a{
text-decoration: none;
color: black;
}
#mid #mid-right ul li a:hover{
color: green;
background: yellow;
}
#mid #mid-left ul{
list-style: none;
margin:0px;
padding: 0px;
}
#mid #mid-left ul li{
float: left;
margin: 10px;
}
#mid #mid-left ul li a{
text-decoration: none;
}
#mid #mid-left ul li div{
margin: 0px;
padding: 0px;
border-radius: 7px;
position: relative;
}
#mid #mid-left ul li img{
border-radius: 0px 0px 7px 7px;
width: 200px;
height: 150px;
}
#mid #mid-left ul li div .title{
background: white;
color: black; 
margin-bottom: 0px;
margin-top: 0px;
height: 40px;
line-height: 30px;
text-align: left;
border-radius: 7px 7px 0px 0px;
font-weight: bold;
}
#mid #mid-left ul li div:hover .title{
color: orange;
background: gray;
}
#mid #mid-left ul li div:hover img{
opacity: 0.6;
}
#mid #mid-left ul li div .sub-title{
opacity: 0.8;
position: absolute;
bottom: 0px;
background: #3a3838;
color: white;
width: 100%;
margin: 0px;
padding: 10px 0;
font-size: 13px;
border-radius: 0px 0px 7px 7px;
}
#footer #footer-left{
font-size: 13px;
text-align: left;
line-height: 60px;
width: 200px;
float: left;
}
#footer #footer-left p{
margin:0px;
padding-left: 10px;
color: black;
}
#footer #footer-right{
width: 800px;
}
#footer #footer-right ul {
list-style: none;
margin: 0px;
padding: 0px;
float: left;
}
#footer #footer-right ul li{
float: left;
display: block;
padding-right: 10px;
line-height: 60px;
}
#footer #footer-right ul li a{
color: blue;
}
#footer #footer-right ul li a:hover{
color: red;
background: gray;
}